@model PagedList.IPagedList<Testv3.Models.TestViewModel>
@{
    ViewBag.Title = "Charts";
}


    <div class="row">
        @*Gender*@
        <div class="col-lg-6 col-xs-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Gender</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" type="button" data-toggle="collapse" data-target="#LOL">
                            <span class="fa fa-minus" id="minMaxIcon"></span>
                        </button>
                    </div>
                    <hr />
                </div>
                <div id="LOL" class="collapse in">
                    <div class="box-body">
                        <canvas id="gender-pie"></canvas>
                    </div>
                </div>
            </div>
        </div>
        @*Scholars*@
        <div class="col-lg-6 col-xs-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Scholars</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" type="button" data-toggle="collapse" data-target="#LOL1">
                            <span class="fa fa-minus"></span>
                        </button>
                    </div>
                    <hr />
                </div>
                <div id="LOL1" class="collapse in">
                    <div class="box-body">
                        <canvas id="scholar-pie"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        @*Personal choice*@
        <div class="col-lg-6 col-xs-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Is the student present program his personal choice?</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" id="PChoiceBtn" type="button" data-toggle="collapse" data-target="#LOL2">
                            <span class="fa fa-minus"></span>
                        </button>
                    </div>
                    <hr />
                </div>
                <div id="LOL2" class="collapse in">
                    <div class="box-body">
                        <canvas id="choice-pie"></canvas>
                    </div>
                </div>
            </div>
        </div>

        @*Who*@
        <div class="col-lg-6 col-xs-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Who influenced you to take the course?</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" id="WhoChoiceBtn" type="button" data-toggle="collapse" data-target="#LOL3">
                            <span class="fa fa-minus"></span>
                        </button>
                    </div>
                    <hr />
                </div>
                <div id="LOL3" class="collapse in">
                    <div class="box-body">
                        <canvas id="who-pie"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        @*Why*@
        <div class="col-lg-6 col-xs-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Why did you choose MMCC?</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" id="WhyChoiceBtn" type="button" data-toggle="collapse" data-target="#LOL4">
                            <span class="fa fa-minus"></span>
                        </button>
                    </div>
                    <hr />
                </div>
                <div id="LOL4" class="collapse in">
                    <div class="box-body">
                        <canvas id="why-pie"></canvas>
                    </div>
                </div>
            </div>
        </div>
        @*How*@
        <div class="col-lg-6 col-xs-6">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">How did you know about MMCC?</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" id="HowChoiceBtn" type="button" data-toggle="collapse" data-target="#LOL5">
                            <span class="fa fa-minus"></span>
                        </button>
                    </div>
                    <hr />
                </div>
                <div id="LOL5" class="collapse in">
                    <div class="box-body">
                        <canvas id="how-pie"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>



<!-- Modal -->
<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <strong>
                    There's not enough data to generate all of the charts!
                </strong>
                <br />
                <div class="pull-right">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                <br /><br />
            </div>
            
        </div>

    </div>
</div>

@Scripts.Render("~/bundles/jquery")
      
    
  @section Scripts {
    <script>

        $(".btn-box-tool").click(function () {
            $("span", this).toggleClass("fa-minus fa-plus");

        });


        //gender
        var genderPieChart = {
            labels: ["Male", "Female"],
            datasets: [{
                backgroundColor:
                [
                    "rgba(153, 102, 255, 0.2)",
                    "rgba(255, 205, 86, 0.2)"
                ],
                borderColor:
                [
                    "rgb(153, 102, 255)",
                    "rgba(255, 205, 86, 0.2)"
                ],
                borderWidth: 1,
                data: []
            }]

        }

        var optiongenderPieChart = {
            legend: { position: 'top' },
            responsive: false
        };

        //scholar
        var scholarPieChart = {
            labels: ["Scholar", "Not Scholar"],
            datasets: [{
                backgroundColor:
                [
                    "rgba(153, 102, 255, 0.2)",
                    "rgba(255, 205, 86, 0.2)"
                ],
                borderColor:
                [
                    "rgb(153, 102, 255)",
                    "rgba(255, 205, 86, 0.2)"
                ],
                borderWidth: 1,
                data: []
            }]

        }

        var optionscholarPieChart = {
            legend: { position: 'top' },
            responsive: false
        };

        //choice
        var choicePieChart = {
            labels: ["Yes", "No"],
            datasets: [{
                backgroundColor:
                [
                    "rgba(153, 102, 255, 0.2)",
                    "rgba(255, 205, 86, 0.2)"
                ],
                borderColor:
                [
                    "rgb(153, 102, 255)",
                    "rgba(255, 205, 86, 0.2)"
                ],
                borderWidth: 1,
                data: []
            }]

        }

        var optionchoicePieChart = {
            legend: { position: 'top' },
            responsive: false
        };

        //////
        var optionPieChart = {
            legend: { position: 'right' },
            responsive: true
        };

        //Why MMCC?
        var WhyPieChart = {
            labels: ["Reputation of the school",
                "People I know studied in MMCC",
                "Lower fees/cost of living",
                "Near home/convenience"],
            datasets: [{
                backgroundColor:
                [
                    "rgba(153, 102, 255, 0.2)",
                    "rgba(255, 205, 86, 0.2)",
                    "rgba(133, 102, 255, 0.2)",
                    "rgba(98, 205, 86, 0.2)"
                ],
                borderColor:
                [
                    "rgb(153, 102, 255)",
                    "rgba(255, 205, 86, 0.2)",
                    "rgba(133, 102, 255, 0.2)",
                    "rgba(98, 205, 86, 0.2)"
                ],
                borderWidth: 1,
                data: []
            }]

        }

        //How
        var HowPieChart = {
            labels: ["Social Media",
                "School/Teachers",
                "Parent/Relatives",
                "Acquaintance/Peers",
                "Newspaper",
                "MMCC Website"],
            datasets: [{
                backgroundColor:
                [
                    "rgba(153, 102, 255, 0.2)",
                    "rgba(255, 205, 86, 0.2)",
                    "rgba(133, 102, 255, 0.2)",
                    "rgba(98, 205, 86, 0.2)",
                    "rgba(122, 21, 255, 0.2)",
                    "rgba(189, 102, 86, 0.2)"
                ],
                borderColor:
                [
                    "rgb(153, 102, 255)",
                    "rgba(255, 205, 86, 0.2)",
                    "rgba(133, 102, 255, 0.2)",
                    "rgba(98, 205, 86, 0.2)",
                    "rgba(122, 21, 255, 0.2)",
                    "rgba(189, 102, 86, 0.2)"
                ],
                borderWidth: 1,
                data: []
            }]

        }


        //Who
        var WhoPieChart = {
            labels: ["Parents/Relatives",
                "Peers/Friends",
                "Teacher",
                "School/Particular Subject",
                "Books/Literature",
                "Film/TV/Radio",
                "Internet",
                "I don't know"],
            datasets: [{
                backgroundColor:
                [
                    "rgba(153, 102, 255, 0.2)",
                    "rgba(255, 205, 86, 0.2)",
                    "rgba(54, 162, 235, 0.2)",
                    "rgba(255, 99, 132, 0.2)",
                    "rgba(255, 159, 64, 0.2)",
                    "rgba(255, 205, 86, 0.2)",
                    "rgba(175, 192, 192, 0.2)",
                    "rgba(153, 102, 255, 0.2)",
                    "rgba(201, 203, 207, 0.2)"
                ],
                borderColor:
                [
                    "rgb(153, 102, 255)",
                    "rgba(255, 205, 86, 0.2)",
                    "rgba(54, 162, 235, 0.2)",
                    "rgba(255, 99, 132, 0.2)",
                    "rgba(255, 159, 64, 0.2)",
                    "rgba(255, 205, 86, 0.2)",
                    "rgba(75, 192, 192, 0.2)",
                    "rgba(153, 102, 255, 0.2)",
                    "rgba(201, 203, 207, 0.2)"
                ],
                borderWidth: 1,
                data: []
            }]

        }


        //render charts
        $.ajax({
            url: '/StudentInventory/GetCount',
            success: function (responsePie) {
                $.each(responsePie, function (i, item) {
                    genderPieChart.datasets[0].data.push(parseInt(item.countMale), parseInt(item.countFemale));
                    scholarPieChart.datasets[0].data.push(parseInt(item.countScholar), parseInt(item.countNotScholar));
                    choicePieChart.datasets[0].data.push(parseInt(item.countTotalPersonalChoice), parseInt(item.countTotalNotPersonalChoice));

                })



                var ctx2 = document.getElementById("gender-pie").getContext("2d");
                var mygenderPieChart = new Chart(ctx2,
                    {
                        type: 'pie',
                        data: genderPieChart,
                        options: optiongenderPieChart
                    });

                //scholar
                var ctx3 = document.getElementById("scholar-pie").getContext("2d");
                var myscholarPPieChart = new Chart(ctx3,
                    {
                        type: 'pie',
                        data: scholarPieChart,
                        options: optionscholarPieChart
                    });


                //check if mat value si tempdata which is 0 meaning 0 responses for TotalPersonalChoice
                if ("@TempData["TotalGetCount"]" == null) {
                    //if null render choice chart

                    var ctx4 = document.getElementById("choice-pie").getContext("2d");
                    var mychoicePieChart = new Chart(ctx4,
                        {
                            type: 'pie',
                            data: choicePieChart,
                            options: optionchoicePieChart
                        });
                } else {
                    $('#myModal2').modal('show');
                    $("#PChoiceBtn").click();
                    $("#WhoChoiceBtn").click();
                    $("#WhyChoiceBtn").click();
                    $("#HowChoiceBtn").click();
                }
                
            }
        });

        $.ajax({
            url: '/StudentInventory/GetWhyMMCCListCount',
            success: function (responsePie) {
                var summer = 0;
                $.each(responsePie, function (i, item) {
                    WhyPieChart.datasets[0].data.push(parseInt(item.countWhyMMCC));
                    summer = summer + parseInt(item.countWhyMMCC);
                })

                //alert(summer);

                if (summer != 0) {
                    var ctx0 = document.getElementById("why-pie").getContext("2d");
                    var newPieChart = new Chart(ctx0,
                        {
                            type: 'pie',
                            data: WhyPieChart,
                            options: optionPieChart
                        });

                }

                

            }
        });

        $.ajax({
            url: '/StudentInventory/GetHowMMCCListCount',
            success: function (responsePie) {
                var winter = 0;
                $.each(responsePie, function (i, item) {
                    HowPieChart.datasets[0].data.push(parseInt(item.countHowMMCC));
                    winter = winter + parseInt(item.countHowMMCC);
                })

                if (winter != 0) {
                    var ctx0 = document.getElementById("how-pie").getContext("2d");
                    var newPieChart = new Chart(ctx0,
                        {
                            type: 'pie',
                            data: HowPieChart,
                            options: optionPieChart
                        });

                }
            }
        });

        $.ajax({
            url: '/StudentInventory/GetWhoInfluencedMMCCListCount',
            success: function (responsePie) {
                var fall = 0;
                $.each(responsePie, function (i, item) {
                    WhoPieChart.datasets[0].data.push(parseInt(item.countWhoInfluenced));
                    fall = fall + parseInt(item.countWhoInfluenced);
                })

                if (fall != 0) {
                    var ctx0 = document.getElementById("who-pie").getContext("2d");
                    var newPieChart = new Chart(ctx0,
                        {
                            type: 'pie',
                            data: WhoPieChart,
                            options: optionPieChart
                        });

                }
            }
        });

    </script>
    }

