
@{
    ViewBag.Title = "History";
}

<div class="customHeader">Select to see history of student records.</div>
<ul>
    <li><a href='@Url.Action("Index", "CounsellingForms")'>Individual Counselling</a></li>
    <li><a href='@Url.Action("Index", "CounsellingForms")'>Group Counselling</a></li>
    <li><a href='@Url.Action("Index", "IncidentReports")'>Incident Report</a></li>
    <li><a href='@Url.Action("Index", "AnecdotalRecords")'>Anecdotal Record</a></li>
</ul>

